@using AutoPro.Models
@model BusquedaPorModeloViewModels
@{
    ViewBag.Title = "Busqueda por Modelo";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        @ViewBag.Title
        <small>Auto Pro</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/Home/"><i class="fa fa-dashboard"></i>Inicio</a></li>
        <li class="active">@ViewBag.Title</li>
    </ol>
</section>

    <!-- Main content -->
<section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row" style="height:150px">
        @using (Html.BeginForm("BusquedaPorModelo", "Compra", FormMethod.Post, new { role = "form", id = "busquedaid", enctype = "multipart/form-data" }))
        {
            <div class="col-lg-3 col-xs-3">
                
            </div>
        <!-- ./col -->
    <div class="row">
        <div class="col-lg-6 col-xs-6" align="center">
            <!-- small box -->
            
                <div class="input-group">
                    <select class="form-control select2" data-val="true" id="Busq_Modelo" name="Busq_Modelo" data-placeholder="Escriba un Modelo" >
                        <option value="-1"></option>
                    </select>
                    <span class="input-group-btn">
                        <button href="javascript:{}" onclick="document.getElementById('busquedaid').submit();" class="btn btn-default"><i class="fa fa-search"></i></button>
                    </span>
                </div>
            
        </div>
    </div>
        <!-- ./col -->
    <div class="col-lg-3 col-xs-3">
        
    </div>
        <!-- ./col -->
        }
    </div>
    <!-- /.row -->
    <!-- Main row -->
    <div class="row">
        <div class="col-lg-1 col-xs-1">
            
        </div>
        <div class="col-lg-5 col-xs-5">
            <!-- small box -->
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3>@Model.Nro_Marca</h3>
                    <p>Marcas</p>
                </div>
                <div class="icon">
                    <i class="ion ion-model-s"></i>
                </div>
                <a href="#" class="small-box-footer">Buscar por marcas <i class="fa fa-search"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-5 col-xs-5">
            <!-- small box -->
            <div class="small-box bg-green">
                <div class="inner">
                    <h3>@Model.Nro_Categoria</h3>
                    <p>Categoria</p>
                </div>
                <div class="icon">
                    <i class="ion ion-ios-list-outline"></i>
                </div>
                <a href="#" class="small-box-footer">Buscar por categoria <i class="fa fa-search"></i></a>
            </div>
        </div>
        <div class="col-lg-1 col-xs-1">

        </div>
        
        <!-- ./col -->
    </div>
    <!-- /.row (main row) -->
</section>
<!-- /.content -->

<script src="~/Content/Template/plugins/MiniJava.js"></script>
<script>
    jQuery(window).load(function () {


        function formatRepo(repo) {
            if (repo.Image === undefined) return "Cargando...";

            var markup = "<div class='select2-result-repository clearfix'>" +
              "<div class='select2-result-repository__avatar'><img src='" + repo.Image + "' /></div>" +
              "<div class='select2-result-repository__meta'>" +
                "<div class='select2-result-repository__title'>" + repo.Nombre + "</div>";

            if (repo.Descripcion) {
                markup += "<div class='select2-result-repository__description'>" + repo.Descripcion + "</div>";
            }

            markup += "<div class='select2-result-repository__statistics'>" +
              "<div class='select2-result-repository__forks'><i class='fa fa-folder-open-o'></i> " + repo.Nro_Inventario + " Inventario</div>" +
              "<div class='select2-result-repository__stargazers'><i class='fa  fa-cart-plus'></i> " + repo.Nro_Vendidos + " Vendidos</div>" +
              "<div class='select2-result-repository__watchers'><i class='fa fa-area-chart'></i> " + repo.Nro_Rezagados + " Rezagados</div>" +
            "</div>" +
            "</div></div>";

            return markup;
        }

        function formatRepoSelection(repo) {
            return repo.Nombre;
        }

        $("#Busq_Modelo").select2({
            ajax: {
                url: "/Compra/ObtenerModelos",
                dataType: 'json',
                delay: 250,
                data: function (params) {
                    return {
                        q: params.term, // search term
                        page: params.page
                    };
                },
                processResults: function (data, params) {
                    // parse the results into the format expected by Select2
                    // since we are using custom formatting functions we do not need to
                    // alter the remote JSON data, except to indicate that infinite
                    // scrolling can be used
                    params.page = params.page || 1;

                    return {
                        results: data.Lista_Modelo,
                        pagination: {
                            more: (params.page * 30) < data.Total_Modelos
                        }
                    };
                },
                cache: true
            },
            escapeMarkup: function (markup) { return markup; },
            minimumInputLength: 1,
            templateResult: formatRepo,
            templateSelection: formatRepoSelection


        });

    });

    function goBack() {
        window.history.back();
    }



</script>












