@using AutoPro.Models
@model ComprarVehiculoViewModels
@{
    ViewBag.Title = "Proceso de Preventa";
}


    <!-- Content Header (Page header) -->
<section class="content-header">
    <h1>Preventa # 24
     
        <small>Auto Pro</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/Home/"><i class="fa fa-dashboard"></i> Inicio</a></li>
        <li><a href="/Venta/">Venta</a></li>
        <li class="active">@ViewBag.Title</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-8">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Linea de tiempo</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                
                    <div id="time_line_cliente" class="row margin">
                        <!-- linea de tiempo -->
                        <ul class="timeline">
                            <!-- timeline time label -->
                            <li class="time-label">
                                <span class="bg-red">
                                    06/06/2017 - 2:38 p.m.
                                </span>
                            </li>
                            <!-- /.timeline-label -->
                            <!-- timeline item -->
                            <li>
                                <i class="fa fa-envelope bg-blue"></i>

                                <div class="timeline-item">
                                    <span class="time"><i class="fa fa-clock-o"></i> Hace 4 dias.</span>

                                    <h3 class="timeline-header"><a href="#">Operacion de Preventa # 32</a></h3>

                                    <div class="timeline-body">
                                        El cliente estuvo interesando en <strong>3</strong> modelos, con rangos de precios [<strong>12.541<sup style="font-size: 8px">USD</sup> - 21.542 <sup style="font-size: 8px">USD</sup></strong>] y el agente encargado de la operacion fue <strong>Juan Valdez</strong>.
                                    </div>
                                    <div class="timeline-footer">
                                        <a class="btn btn-primary btn-xs">Detalles</a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <i class="fa fa-automobile bg-yellow"></i>

                                <div class="timeline-item">

                                    <h3 class="timeline-header"><a href="#">Mustang GT Premium convertible 2D # 3</a> 2015</h3>

                                    <div class="timeline-body">
                                        El modelo es de color <strong>Negro</strong> tiene <strong>2.354</strong> kilometros y el valor de compra del modelo fue de <strong>12.546</strong><sup style="font-size: 8px">USD</sup>.
                                        <img style="height:100px; width:150px" src="/Images/Modelos/Mustang/2015/Mustang_GT_Premium_Convertible_2D.png" alt="..." class="margin">
                                    </div>
                                    <div class="timeline-footer">
                                        <a class="btn btn-primary btn-xs">Ford</a>
                                        <a class="btn btn-success btn-xs">Convertible</a>
                                        <a class="btn btn-warning btn-flat btn-xs">Mustang</a>
                                        <a class="btn btn-danger btn-xs">2015</a>
                                    </div>
                                </div>
                            </li>
                            <!-- END timeline item -->

                            <li>
                                <i class="fa fa-clock-o bg-gray"></i>
                            </li>
                        </ul>
                        <!-- /.linea de tiempo -->


                    </div>

                </div>
                <!-- /.box-body -->

            </div>
            <!-- /.box -->
            <!-- /.box -->
        </div>
        <!-- /.col -->
        <div class="col-md-4">
            <div style="height:330px" class="box box-primary">
                <div class="box-body box-profile">
                    <img class="profile-user-img img-responsive img-circle" src="/Images/imagen_user_160.png" alt="User profile picture">

                    <h3 class="profile-username text-center">Ana Fuentes</h3>

                    <p class="text-muted text-center">Información del cliente</p>

                    <ul class="list-group list-group-unbordered">
                        <li class="list-group-item">
                            <b>Telefono</b> <a class="pull-right">+58 (0414) - 123 4567</a>
                        </li>
                        <li class="list-group-item">
                            <b>Correo</b> <a class="pull-right">Ana_fuentes@gmail.com</a>
                        </li>
                        <li class="list-group-item">
                            <b>Dirección</b> <a class="pull-right">701 Central Av., Kansas City, KS 66101</a>
                        </li>
                    </ul>

                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box-body -->

            
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
    <div class="row margin">
       <div class="col-lg-12 col-xs-12">
           <div class="box">
               <div class="box-header">
                   <div class="form-group">


                       <div class="row">


                           <div class="col-lg-3 col-xs-3">

                           </div>
                           <!-- ./col -->
                           <div class="col-lg-6 col-xs-6">
                               <!-- small box -->
                               <!-- ESTA ES LA BARRA ARREGLADA NO SE SI LO QUE AGARRE PARA CONVERTIRLA EN INPUT ESTA BIEN REVISALO
                        DE TODAS MANERAS CUANDO LO PEGUES A VER -->
                               <div class="row">
                                   <div class="col-lg-12">
                                       <div style="width:100%" class="input-group">
                                           <select style="width:100%" class="form-control select2" data-val="true" id="Busq_Modelo" name="Busq_Modelo" data-placeholder="Escriba un Modelo">
                                               <option value="-1"></option>
                                           </select>
                                           <span class="input-group-btn">
                                               <button href="javascript:{}" onclick="document.getElementById('busquedaid').submit();" class="btn btn-default"><i class="fa fa-search"></i></button>
                                           </span>
                                       </div><!-- /input-group -->
                                   </div><!-- /.col-lg-6 -->
                               </div><!-- /.row -->


                           </div>
                           <!-- ./col -->
                           <div class="col-lg-3 col-xs-3">

                           </div>
                           <!-- ./col -->

                       </div>





                   </div>
               </div>
               <!-- /.box-header -->
               <div id="ventana_cambio" class="box-body no-padding" >
                   <div class="col-lg-6 col-xs-6">
                       <!-- small box -->
                       <div class="small-box bg-green">
                           <div class="inner">
                               <h3>6</h3>
                               <p>PREFERIDOS POR CLIENTE</p>
                           </div>
                           <div class="icon">
                               <i class="fa fa-user"></i>
                           </div>
                           <a href="javascript:{}" class="small-box-footer" onclick="ObtenerPreferidosPorCliente();">
                               Consultar <i class="fa fa-arrow-circle-right"></i>
                           </a>
                       </div>
                   </div>

                   <div class="col-lg-6 col-xs-6">
                       <!-- small box -->
                       <div class="small-box bg-red">
                           <div class="inner">
                               <h3>4</h3>
                               <p>PRIORITARIOS</p>

                           </div>
                           <div class="icon">
                               <i class="fa  fa-exclamation-triangle"></i>
                           </div>
                           <a href="#" class="small-box-footer">
                               Consultar <i class="fa fa-arrow-circle-right"></i>
                           </a>
                       </div>
                   </div>
                   <!-- ./col -->

                   <div class="col-lg-6 col-xs-6">
                       <!-- small box -->
                       <div class="small-box bg-yellow">
                           <div class="inner">
                               <h3>14</h3>
                               <p>PREFERIDOS POR EL MERCADO</p>
                           </div>
                           <div class="icon">
                               <i class="fa fa-users"></i>
                           </div>
                           <a href="#" class="small-box-footer">
                               Consultar <i class="fa fa-arrow-circle-right"></i>
                           </a>
                       </div>
                   </div>
                   <div class="col-lg-6 col-xs-6">
                       <!-- small box -->
                       <div class="small-box bg-aqua">
                           <div class="inner">
                               <h3>21</h3>

                               <p>INVENTARIO</p>
                           </div>
                           <div class="icon">
                               <i class="fa fa-cubes"></i>
                           </div>
                           <a href="#" class="small-box-footer">
                               Consultar <i class="fa fa-arrow-circle-right"></i>
                           </a>
                       </div>
                   </div>
               </div>
               <!-- /.box-body -->
               <div class="box-footer no-border">
                   <div class="row">
                       <div class="col-xs-4 text-center" style="border-right: 1px solid #f4f4f4">
                           <button type="button" class="btn btn-success btn-lg"><i class="fa fa-cart-plus"></i></button>
                       </div>
                       <!-- ./col -->
                       <div class="col-xs-4 text-center" style="border-right: 1px solid #f4f4f4">
                           
                       </div>
                       <!-- ./col -->
                       <div class="col-xs-4 text-center">
                           <button type="button" class="btn btn-danger btn-lg"><i class="fa fa-rotate-left"></i></button>
                       </div>
                       <!-- ./col -->
                   </div>
                   <!-- /.row -->
               </div>
               <!-- /.box-footer -->
           </div>


       </div>


    </div>
</section>


<script src="~/Content/Template/plugins/MiniJava.js"></script>
<script>
    jQuery(window).load(function () {

        $('#time_line_cliente').slimScroll({
            height: '330px'
        });

        function formatRepo(repo) {
            if (repo.Image === undefined) return "Cargando...";

            var markup = "<div class='select2-result-repository clearfix'>" +
              "<div class='select2-result-repository__avatar'><img src='" + repo.Image + "' /></div>" +
              "<div class='select2-result-repository__meta'>" +
                "<div class='select2-result-repository__title'>" + repo.Nombre + "</div>";

            if (repo.Descripcion) {
                markup += "<div class='select2-result-repository__description'>" + repo.Descripcion + "</div>";
            }

            markup += "<div class='select2-result-repository__statistics'>" +
              "<div class='select2-result-repository__forks'><i class='fa fa-folder-open-o'></i> " + repo.Nro_Inventario + " Inventario</div>" +
              "<div class='select2-result-repository__stargazers'><i class='fa  fa-cart-plus'></i> " + repo.Nro_Vendidos + " Vendidos</div>" +
              "<div class='select2-result-repository__watchers'><i class='fa fa-area-chart'></i> " + repo.Nro_Rezagados + " Rezagados</div>" +
            "</div>" +
            "</div></div>";

            return markup;
        }

        function formatRepoSelection(repo) {
            return repo.Nombre;
        }

        $("#Busq_Modelo").select2({
            placeholder: "Consulte un modelo",
            ajax: {
                url: "/Venta/ObtenerModelos",
                dataType: 'json',
                delay: 250,
                data: function (params) {
                    return {
                        q: params.term, // search term
                        page: params.page
                    };
                },
                processResults: function (data, params) {
                    // parse the results into the format expected by Select2
                    // since we are using custom formatting functions we do not need to
                    // alter the remote JSON data, except to indicate that infinite
                    // scrolling can be used
                    params.page = params.page || 1;

                    return {
                        results: data.Lista_Modelo,
                        pagination: {
                            more: (params.page * 30) < data.Total_Modelos
                        }
                    };
                },
                cache: true
            },
            escapeMarkup: function (markup) { return markup; },
            minimumInputLength: 1,
            templateResult: formatRepo,
            templateSelection: formatRepoSelection


        });

    });

    function goBack() {
        window.history.back();
    }

    function ObtenerPreferidosPorCliente() {

        document.getElementById("ventana_cambio").innerHTML = '<div class="row"> <div class="col-lg-6 col-xs-6"> <div class="box box-widget "> <div class="box-header with-border"> <h3 class="box-title">MARCAS</h3> </div> <div class="box-body"> <div id="marcas_div" class="row"> <div class="col-lg-12 col-xs-12"> <div class="box box-widget widget-user-2"> <div class="widget-user-header bg-yellow"> <div class="widget-user-image"> <img class="img-circle" src="/Images/Marcas/Audi.png" alt="Audi"> </div> <!-- /.widget-user-image --> <h3 class="widget-user-username">AUDI</h3> <h5 class="widget-user-desc"></h5> </div> <div class="box-footer no-padding"> <ul class="nav nav-stacked"> <li id="prueba_1"><a href="javascript:{}">Inventario <span class="pull-right badge bg-aqua-active">2</span></a></li> <li><a href="#">Preferencia <span class="pull-right badge bg-green">60%</span></a></li> </ul> </div> </div> </div> <div class="col-lg-12 col-xs-12"> <div class="box box-widget widget-user-2"> <div class="widget-user-header bg-yellow"> <div class="widget-user-image"> <img class="img-circle" src="/Images/Marcas/Chevrolet.png" alt="Audi"> </div> <!-- /.widget-user-image --> <h3 class="widget-user-username">CHEVROLET</h3> <h5 class="widget-user-desc"></h5> </div> <div class="box-footer no-padding"> <ul class="nav nav-stacked"> <li><a href="#">Inventario <span class="pull-right badge bg-aqua-active">4</span></a></li> <li><a href="#">Preferencia <span class="pull-right badge bg-green">40%</span></a></li> </ul> </div> </div> </div> <div class="col-lg-12 col-xs-12"> <div class="box box-widget widget-user-2"> <div class="widget-user-header bg-yellow"> <div class="widget-user-image"> <img class="img-circle" src="/Images/Marcas/Ford.png" alt="Ford"> </div> <!-- /.widget-user-image --> <h3 class="widget-user-username">FORD</h3> <h5 class="widget-user-desc"></h5> </div> <div class="box-footer no-padding"> <ul class="nav nav-stacked"> <li><a href="#">Inventario <span class="pull-right badge bg-aqua-active">6</span></a></li> <li><a href="#">Preferencia <span class="pull-right badge bg-green">70%</span></a></li> </ul> </div> </div> </div> <div class="col-lg-12 col-xs-12"> <div class="box box-widget widget-user-2"> <div class="widget-user-header bg-yellow"> <div class="widget-user-image"> <img class="img-circle" src="/Images/Marcas/Toyota.png" alt="Toyota"> </div> <!-- /.widget-user-image --> <h3 class="widget-user-username">TOYOTA</h3> <h5 class="widget-user-desc"></h5> </div> <div class="box-footer no-padding"> <ul class="nav nav-stacked"> <li><a href="#">Inventario <span class="pull-right badge bg-aqua-active">1</span></a></li> <li><a href="#">Preferencia <span class="pull-right badge bg-green">56%</span></a></li> </ul> </div> </div> </div> </div> </div> </div> </div> <div class="col-lg-6 col-xs-6"> <div class="box box-widget"> <div class="box-header with-border"> <h3 class="box-title">CATEGORIAS</h3> <!-- /.box-tools --> </div> <!-- /.box-header --> <div class="box-body"> <div id="cat_div" class="row margin"> <div class="col-lg-12 col-xs-12"> <div class="box box-widget widget-user-2"> <div class="widget-user-header bg-aqua"> <div class="widget-user-image"> <img class="img-circle" src="/Images/Clasificacion/Convertible.png" alt="Convertible"> </div> <!-- /.widget-user-image --> <h3 class="widget-user-username">CONVERTIBLE</h3> <h5 class="widget-user-desc"></h5> </div> <div class="box-footer no-padding"> <ul class="nav nav-stacked"> <li><a href="#">Inventario <span class="pull-right badge bg-aqua-active">1</span></a></li> <li><a href="#">Preferencia <span class="pull-right badge bg-green">21%</span></a></li> </ul> </div> </div> </div> <div class="col-lg-12 col-xs-12"> <div class="box box-widget widget-user-2"> <div class="widget-user-header bg-aqua"> <div class="widget-user-image"> <img class="img-circle" src="/Images/Clasificacion/Suv.png" alt="Suv"> </div> <!-- /.widget-user-image --> <h3 class="widget-user-username">SUV</h3> <h5 class="widget-user-desc"></h5> </div> <div class="box-footer no-padding"> <ul class="nav nav-stacked"> <li><a href="#">Inventario <span class="pull-right badge bg-aqua-active">5</span></a></li> <li><a href="#">Preferencia <span class="pull-right badge bg-green">36%</span></a></li> </ul> </div> </div> </div> <div class="col-lg-12 col-xs-12"> <div class="box box-widget widget-user-2"> <div class="widget-user-header bg-aqua"> <div class="widget-user-image"> <img class="img-circle" src="/Images/Clasificacion/Sedan.png" alt="Sedan"> </div> <!-- /.widget-user-image --> <h3 class="widget-user-username">SEDAN</h3> <h5 class="widget-user-desc"></h5> </div> <div class="box-footer no-padding"> <ul class="nav nav-stacked"> <li><a href="#">Inventario <span class="pull-right badge bg-aqua-active">7</span></a></li> <li><a href="#">Preferencia <span class="pull-right badge bg-green">93%</span></a></li> </ul> </div> </div> </div> </div> </div> <!-- /.box-body --> </div> <!-- /.box --> </div> </div>';

        $('#marcas_div').slimScroll({
            height: '450px'
        });
        $('#cat_div').slimScroll({
            height: '450px'
        });
        $('#prueba_1').click(function () {
            ObtenerListaVehiculos();

        });
    }

    function ObtenerListaVehiculos() {
        document.getElementById("ventana_cambio").innerHTML = '<div class="row"> <div class="col-lg-12 col-xs-12"> <div class="box box-widget "> <div class="box-header with-border"> <h3 class="box-title">VEHICULOS EN INVENTARIO - CATEGORIA SEDAN</h3> </div> <div class="box-body"> <div id="vehiculos_div" class="row"> <div class="col-lg-4 col-xs-4"> <!-- Widget: user widget style 1 --> <div class="box box-widget widget-user"> <!-- Add the bg color to the header using any of the bg-* classes --> <div class="widget-user-header bg-aqua-active"> <h3 class="widget-user-username">C-Class C63 AMG Sedan 4d - Cod. 32</h3> <h5 class="widget-user-desc">Mercedes-benz - 2014</h5> </div> <div id="prueba_2" class="widget-user-image"> <img class="img-circle" src="/Images/Modelos/1Series/2012/1Series_128i_Coupe_2d.png" alt="C-Class_32"> </div> <div class="box-footer"> <div class="row"> <div class="col-sm-4 border-right"> <div class="description-block"> <h5 class="description-header">32.365 <sup style="font-size: 8px">USD</sup> </h5> <span class="description-text"><i class="fa fa-money"></i> </span> </div> <!-- /.description-block --> </div> <!-- /.col --> <div class="col-sm-4 border-right"> <div class="description-block"> <h5 class="description-header">1.235 <sup style="font-size: 8px">KM</sup></h5> <span class="description-text"><i class="fa fa-tachometer"></i></span> </div> <!-- /.description-block --> </div> <!-- /.col --> <div class="col-sm-4"> <div class="description-block"> <h5 class="description-header">5 <sup style="font-size: 8px">DIAS</sup></h5> <span class="description-text"><i class="fa fa-calendar"></i></span> </div> <!-- /.description-block --> </div> <!-- /.col --> </div> <!-- /.row --> <!-- /.row --> </div> </div> <!-- /.widget-user --> </div> <div class="col-lg-4 col-xs-4"> <!-- Widget: user widget style 1 --> <div class="box box-widget widget-user"> <!-- Add the bg color to the header using any of the bg-* classes --> <div class="widget-user-header bg-aqua-active"> <h3 class="widget-user-username">Camry LE Sedan 4d - Cod. 49</h3> <h5 class="widget-user-desc">Toyota - 2017</h5> </div> <div class="widget-user-image"> <img class="img-circle" src="/Images/Modelos/Camry/2017/Camry_LE_Sedan_4d.png" alt="Mustang_32"> </div> <div class="box-footer"> <div class="row"> <div class="col-sm-4 border-right"> <div class="description-block"> <h5 class="description-header">12.365 <sup style="font-size: 8px">USD</sup> </h5> <span class="description-text"><i class="fa fa-money"></i> </span> </div> <!-- /.description-block --> </div> <!-- /.col --> <div class="col-sm-4 border-right"> <div class="description-block"> <h5 class="description-header">2.353 <sup style="font-size: 8px">KM</sup></h5> <span class="description-text"><i class="fa fa-tachometer"></i></span> </div> <!-- /.description-block --> </div> <!-- /.col --> <div class="col-sm-4"> <div class="description-block"> <h5 class="description-header">12 <sup style="font-size: 8px">DIAS</sup></h5> <span class="description-text"><i class="fa fa-calendar"></i></span> </div> <!-- /.description-block --> </div> <!-- /.col --> </div> <!-- /.row --> <!-- /.row --> </div> </div> <!-- /.widget-user --> </div> <div class="col-lg-4 col-xs-4"> <!-- Widget: user widget style 1 --> <div class="box box-widget widget-user"> <!-- Add the bg color to the header using any of the bg-* classes --> <div class="widget-user-header bg-aqua-active"> <h3 class="widget-user-username">Optima LX Sedan 4d - Cod. 58</h3> <h5 class="widget-user-desc">KIA - 2015</h5> </div> <div class="widget-user-image"> <img class="img-circle" src="/Images/Modelos/Optima/2015/Optima_LX_Sedan_4d.png" alt="Mustang_32"> </div> <div class="box-footer"> <div class="row"> <div class="col-sm-4 border-right"> <div class="description-block"> <h5 class="description-header">9.365 <sup style="font-size: 8px">USD</sup> </h5> <span class="description-text"><i class="fa fa-money"></i> </span> </div> <!-- /.description-block --> </div> <!-- /.col --> <div class="col-sm-4 border-right"> <div class="description-block"> <h5 class="description-header">2.565 <sup style="font-size: 8px">KM</sup></h5> <span class="description-text"><i class="fa fa-tachometer"></i></span> </div> <!-- /.description-block --> </div> <!-- /.col --> <div class="col-sm-4"> <div class="description-block"> <h5 class="description-header">10 <sup style="font-size: 8px">DIAS</sup></h5> <span class="description-text"><i class="fa fa-calendar"></i></span> </div> <!-- /.description-block --> </div> <!-- /.col --> </div> <!-- /.row --> <!-- /.row --> </div> </div> <!-- /.widget-user --> </div> <div class="col-lg-4 col-xs-4"> <!-- Widget: user widget style 1 --> <div class="box box-widget widget-user"> <!-- Add the bg color to the header using any of the bg-* classes --> <div class="widget-user-header bg-aqua-active"> <h3 class="widget-user-username">A6 3.2 Sedan 4d - Cod. 42</h3> <h5 class="widget-user-desc">Audi - 2015</h5> </div> <div class="widget-user-image"> <img class="img-circle" src="/Images/Modelos/A6/2011/A6_3.2_Sedan_4d.png" alt="Mustang_32"> </div> <div class="box-footer"> <div class="row"> <div class="col-sm-4 border-right"> <div class="description-block"> <h5 class="description-header">10.365 <sup style="font-size: 8px">USD</sup> </h5> <span class="description-text"><i class="fa fa-money"></i> </span> </div> <!-- /.description-block --> </div> <!-- /.col --> <div class="col-sm-4 border-right"> <div class="description-block"> <h5 class="description-header">974 <sup style="font-size: 8px">KM</sup></h5> <span class="description-text"><i class="fa fa-tachometer"></i></span> </div> <!-- /.description-block --> </div> <!-- /.col --> <div class="col-sm-4"> <div class="description-block"> <h5 class="description-header">21 <sup style="font-size: 8px">DIAS</sup></h5> <span class="description-text"><i class="fa fa-calendar"></i></span> </div> <!-- /.description-block --> </div> <!-- /.col --> </div> <!-- /.row --> <!-- /.row --> </div> </div> <!-- /.widget-user --> </div> </div> </div> </div> </div> </div>';

        $('#vehiculos_div').slimScroll({
            height: '470px'
        });
        $('#prueba_2').click(function () {
            ObtenerVehiculoDetalles();

        });

    }

    function ObtenerVehiculoDetalles(){
        document.getElementById("ventana_cambio").innerHTML = '<div class="row margin"> <div class="col-lg-12 col-xs-12"> <h2> Camry LE Sedan 4d <small>Toyota</small> </h2> <div class="row"> <div class="col-lg-4 col-xs-4"> <div class="box box-success"> <div class="box-body chat" id="chat-box"> <img class="img-responsive" style="height:300px; width :100%" src="/Images/Modelos/Camry/2017/Camry_LE_Sedan_4d.png" /> </div> </div> </div> <div class="col-lg-8 col-xs-8 text-center"> <div class="row margin"> <div class="box box-success"> <div class="box-header"> <h3 class="box-title">Datos del Vehiculo</h3> </div> <div class="box-body chat" id="chat-box"> <div class="col-lg-1 col-xs-1 text-center"> </div> <div class="col-lg-5 col-xs-5"> <div class="form-group"> <label>Valor de Venta</label> <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Ingrese el Valor..."> </div> <div class="form-group"> <label>Financista</label> <select id="financista" class="form-control select2" style="width: 100%;"> <option selected="selected">Julian Martinez</option> <option>Alexis Marcado</option> <option>Monica Pastor</option> </select> </div> <div class="form-group"> <label>Comentario</label> <input type="text" class="form-control" placeholder="Comente..."> </div> </div> <div class="col-lg-6 col-xs-6"> <div id="estadisticas_carro" class="row margin"> <div class="col-lg-12 col-xs-12"> <!-- small box --> <div class="small-box bg-lime"> <div class="inner"> <h3>61 <sup style="font-size: 20px">%</sup></h3> <p>Preferencia</p> </div> <div class="icon"> <i class="ion ion-ios-person"></i> </div> </div> </div> <div class="col-lg-12 col-xs-12"> <!-- small box --> <div class="small-box bg-aqua"> <div class="inner"> <h3>283 <sup style="font-size: 20px">KM</sup></h3> <p>Kilometraje</p> </div> <div class="icon"> <i class="ion ion-ios-speedometer"></i> </div> </div> </div> <div class="col-lg-12 col-xs-12"> <!-- small box --> <div class="small-box bg-yellow"> <div class="inner"> <h3>12 <sup style="font-size: 20px">DIAS</sup></h3> <p>Tiempo en Inventario</p> </div> <div class="icon"> <i class="ion ion-ios-calendar"></i> </div> </div> </div> <div class="col-lg-12 col-xs-12"> <!-- small box --> <div class="small-box bg-green"> <div class="inner"> <h3>1.354 <sup style="font-size: 20px">USD</sup></h3> <p>Comision</p> </div> <div class="icon"> <i class="ion ion-cash"></i> </div> </div> </div> <div class="col-lg-12 col-xs-12"> <!-- small box --> <div class="small-box bg-light-blue"> <div class="inner"> <h3> Excelente</h3> <p>Estado</p> </div> <div class="icon"> <i class="ion ion-levels"></i> </div> </div> </div> <div class="col-lg-12 col-xs-12"> <!-- small box --> <div class="small-box bg-gray"> <div class="inner"> <h3>Azul</h3> <p>Color</p> </div> <div class="icon"> <i class="ion ion-android-color-palette"></i> </div> </div> </div> </div> </div> </div> </div> </div> </div> </div> <div class="row"> <div class="col-lg-12 col-xs-12 text-center"> <div class="col-lg-3 col-xs-3 text-center"> </div> <div class="col-lg-6 col-xs-6"> </div> <div class="col-lg-3 col-xs-3 text-center"> </div> </div> </div> <div class="row"> <div class="col-lg-12 col-xs-12 text-center"> <div class="col-lg-2 col-xs-2 text-center"> </div> <div class="col-lg-8 col-xs-8"> <div class="row col-lg-6 col-xs-6"> <div class="small-box bg-green"> <div class="inner"> <h3 id="MontoMinimo">10.626<sup style="font-size: 20px">USD</sup></h3> <p>Valor Minimo</p> </div> </div> </div> <div class="row col-lg-6 col-xs-6"> <div class="small-box bg-red"> <div class="inner"> <h3 id="MontoMaximo">18.654<sup style="font-size: 20px">USD</sup></h3> <p>Valor Maximo</p> </div> </div> </div> </div> <div class="col-lg-2 col-xs-2 text-center"> </div> </div> </div> </div> </div>'; 
        $('#estadisticas_carro').slimScroll({
            height: '250px'
        });
    }



</script>

