
@{
    ViewBag.Title = "Prueba";
}

    <!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        SECCION
        <small>SUB</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Tables</a></li>
        <li class="active">Simple</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="row margin">
        <div class="col-lg-12 col-xs-12">
            <div class="box">
                <div class="box-header">
                    <div class="form-group">


                        <div class="row">


                            <div class="col-lg-3 col-xs-3">

                            </div>
                            <!-- ./col -->
                            <div class="col-lg-6 col-xs-6">
                                <!-- small box -->
                                <!-- ESTA ES LA BARRA ARREGLADA NO SE SI LO QUE AGARRE PARA CONVERTIRLA EN INPUT ESTA BIEN REVISALO
                                DE TODAS MANERAS CUANDO LO PEGUES A VER -->
                                HOLA


                            </div>
                            <!-- ./col -->
                            <div class="col-lg-3 col-xs-3">

                            </div>
                            <!-- ./col -->

                        </div>





                    </div>
                </div>
                <!-- /.box-header -->
                <div id="ventana_cambio" class="box-body no-padding">
                    <div class="row">

                        <div class="col-lg-6 col-xs-6">
                            <div class="box box-widget ">
                                <div class="box-header with-border">
                                    <h3 class="box-title">MARCAS</h3>
                                </div>
                                <div class="box-body">
                                    <div id="marcas_div" class="row">
                                        <div class="col-lg-12 col-xs-12">
                                            <div class="box box-widget widget-user-2">
                                                <div class="widget-user-header bg-yellow">
                                                    <div class="widget-user-image">
                                                        <img class="img-circle" src="~/Images/Marcas/Audi.png" alt="Audi">
                                                    </div>
                                                    <!-- /.widget-user-image -->
                                                    <h3 class="widget-user-username">AUDI</h3>
                                                    <h5 class="widget-user-desc"></h5>
                                                </div>
                                                <div class="box-footer no-padding">
                                                    <ul class="nav nav-stacked">
                                                        <li><a href="#">Inventario <span class="pull-right badge bg-aqua-active">2</span></a></li>
                                                        <li><a href="#">Preferencia <span class="pull-right badge bg-green">60%</span></a></li>
                                                    </ul>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-lg-12 col-xs-12">
                                            <div class="box box-widget widget-user-2">
                                                <div class="widget-user-header bg-yellow">
                                                    <div class="widget-user-image">
                                                        <img class="img-circle" src="~/Images/Marcas/Chevrolet.png" alt="Audi">
                                                    </div>
                                                    <!-- /.widget-user-image -->
                                                    <h3 class="widget-user-username">CHEVROLET</h3>
                                                    <h5 class="widget-user-desc"></h5>
                                                </div>
                                                <div class="box-footer no-padding">
                                                    <ul class="nav nav-stacked">
                                                        <li><a href="#">Inventario <span class="pull-right badge bg-aqua-active">4</span></a></li>
                                                        <li><a href="#">Preferencia <span class="pull-right badge bg-green">40%</span></a></li>

                                                    </ul>
                                                </div>

                                            </div>

                                        </div>
                                        <div class="col-lg-12 col-xs-12">
                                            <div class="box box-widget widget-user-2">
                                                <div class="widget-user-header bg-yellow">
                                                    <div class="widget-user-image">
                                                        <img class="img-circle" src="~/Images/Marcas/Ford.png" alt="Ford">
                                                    </div>
                                                    <!-- /.widget-user-image -->
                                                    <h3 class="widget-user-username">FORD</h3>
                                                    <h5 class="widget-user-desc"></h5>
                                                </div>
                                                <div class="box-footer no-padding">
                                                    <ul class="nav nav-stacked">
                                                        <li><a href="#">Inventario <span class="pull-right badge bg-aqua-active">6</span></a></li>
                                                        <li><a href="#">Preferencia <span class="pull-right badge bg-green">70%</span></a></li>

                                                    </ul>
                                                </div>

                                            </div>

                                        </div>
                                        <div class="col-lg-12 col-xs-12">
                                            <div class="box box-widget widget-user-2">
                                                <div class="widget-user-header bg-yellow">
                                                    <div class="widget-user-image">
                                                        <img class="img-circle" src="~/Images/Marcas/Toyota.png" alt="Toyota">
                                                    </div>
                                                    <!-- /.widget-user-image -->
                                                    <h3 class="widget-user-username">TOYOTA</h3>
                                                    <h5 class="widget-user-desc"></h5>
                                                </div>
                                                <div class="box-footer no-padding">
                                                    <ul class="nav nav-stacked">
                                                        <li><a href="#">Inventario <span class="pull-right badge bg-aqua-active">1</span></a></li>
                                                        <li><a href="#">Preferencia <span class="pull-right badge bg-green">56%</span></a></li>

                                                    </ul>
                                                </div>

                                            </div>

                                        </div>
                                    </div>




                                </div>

                            </div>
                        </div>


                        <div class="col-lg-6 col-xs-6">
                            <div class="box box-widget">
                                <div class="box-header with-border">
                                    <h3 class="box-title">CATEGORIAS</h3>
                                    <!-- /.box-tools -->
                                </div>
                                <!-- /.box-header -->
                                <div class="box-body">
                                    <div id="cat_div" class="row margin">
                                        <div class="col-lg-12 col-xs-12">
                                            <div class="box box-widget widget-user-2">
                                                <div class="widget-user-header bg-aqua">
                                                    <div class="widget-user-image">
                                                        <img class="img-circle" src="~/Images/Clasificacion/Convertible.png" alt="Convertible">
                                                    </div>
                                                    <!-- /.widget-user-image -->
                                                    <h3 class="widget-user-username">CONVERTIBLE</h3>
                                                    <h5 class="widget-user-desc"></h5>
                                                </div>
                                                <div class="box-footer no-padding">
                                                    <ul class="nav nav-stacked">
                                                        <li><a href="#">Inventario <span class="pull-right badge bg-aqua-active">1</span></a></li>
                                                        <li><a href="#">Preferencia <span class="pull-right badge bg-green">21%</span></a></li>

                                                    </ul>
                                                </div>

                                            </div>

                                        </div>
                                        <div class="col-lg-12 col-xs-12">
                                            <div class="box box-widget widget-user-2">
                                                <div class="widget-user-header bg-aqua">
                                                    <div class="widget-user-image">
                                                        <img class="img-circle" src="~/Images/Clasificacion/Suv.png" alt="Suv">
                                                    </div>
                                                    <!-- /.widget-user-image -->
                                                    <h3 class="widget-user-username">SUV</h3>
                                                    <h5 class="widget-user-desc"></h5>
                                                </div>
                                                <div class="box-footer no-padding">
                                                    <ul class="nav nav-stacked">
                                                        <li><a href="#">Inventario <span class="pull-right badge bg-aqua-active">5</span></a></li>
                                                        <li><a href="#">Preferencia <span class="pull-right badge bg-green">36%</span></a></li>

                                                    </ul>
                                                </div>

                                            </div>

                                        </div>
                                        <div class="col-lg-12 col-xs-12">
                                            <div class="box box-widget widget-user-2">
                                                <div class="widget-user-header bg-aqua">
                                                    <div class="widget-user-image">
                                                        <img class="img-circle" src="~/Images/Clasificacion/Sedan.png" alt="Sedan">
                                                    </div>
                                                    <!-- /.widget-user-image -->
                                                    <h3 class="widget-user-username">SEDAN</h3>
                                                    <h5 class="widget-user-desc"></h5>
                                                </div>
                                                <div class="box-footer no-padding">
                                                    <ul class="nav nav-stacked">
                                                        <li><a href="#">Inventario <span class="pull-right badge bg-aqua-active">7</span></a></li>
                                                        <li><a href="#">Preferencia <span class="pull-right badge bg-green">93%</span></a></li>

                                                    </ul>
                                                </div>

                                            </div>

                                        </div>
                                    </div>



                                </div>
                                <!-- /.box-body -->
                            </div>
                            <!-- /.box -->
                        </div>

                    </div>  

                </div>
                <!-- /.box-body -->
                <div class="box-footer no-border">
                    <div class="row">
                        <div class="col-xs-4 text-center" style="border-right: 1px solid #f4f4f4">
                            <button type="button" class="btn btn-success btn-lg"><i class="fa fa-cart-plus"></i></button>
                        </div>
                        <!-- ./col -->
                        <div class="col-xs-4 text-center" style="border-right: 1px solid #f4f4f4">

                        </div>
                        <!-- ./col -->
                        <div class="col-xs-4 text-center">
                            <button type="button" class="btn btn-danger btn-lg"><i class="fa fa-rotate-left"></i></button>
                        </div>
                        <!-- ./col -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.box-footer -->
            </div>


        </div>


    </div>





    <!-- /.box -->
</section>
<!-- /.content -->

<script src="~/Content/Template/plugins/MiniJava.js"></script>
<script>
    jQuery(window).load(function () {

        $('#marcas_div').slimScroll({
            height: '450px'
        });
        $('#cat_div').slimScroll({
            height: '450px'
        });


    });


</script>