
@{
    ViewBag.Title = "Prueba3";
}

    <!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        SECCION
        <small>SUB</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Tables</a></li>
        <li class="active">Simple</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
<div class="row margin">
    <div class="col-lg-12 col-xs-12">

        <h2>
            Camry LE Sedan 4d
            <small>Toyota</small>
        </h2>
        <div class="row">
            <div class="col-lg-4 col-xs-4">
                <div class="box box-success">
                    <div class="box-body chat" id="chat-box">

                        <img class="img-responsive" style="height:300px; width :100%" src="/Images/Modelos/Camry/2017/Camry_LE_Sedan_4d.png" />

                    </div>
                </div>
            </div>

            <div class="col-lg-8 col-xs-8 text-center">

                <div class="row margin">

                    <div class="box box-success">
                        <div class="box-header">
                            <h3 class="box-title">Datos del Vehiculo</h3>
                        </div>
                        <div class="box-body chat" id="chat-box">
                            <div class="col-lg-1 col-xs-1 text-center">

                            </div>
                            <div class="col-lg-5 col-xs-5">
                                <div class="form-group">
                                    <label>Valor de Venta</label>
                                    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Ingrese el Valor...">
                                </div>
                                <div class="form-group">
                                    <label>Financista</label>
                                    <select id="financista" class="form-control select2" style="width: 100%;">
                                        <option selected="selected">Julian Martinez</option>
                                        <option>Alexis Marcado</option>
                                        <option>Monica Pastor</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Comentario</label>
                                    <input type="text" class="form-control" placeholder="Comente...">
                                </div>

                            </div>
                            <div class="col-lg-6 col-xs-6">
                                <div id="estadisticas_carro" class="row margin">
                                    <div class="col-lg-12 col-xs-12">
                                        <!-- small box -->
                                        <div class="small-box bg-lime">
                                            <div class="inner">
                                                <h3>61 <sup style="font-size: 20px">%</sup></h3>

                                                <p>Preferencia</p>
                                            </div>
                                            <div class="icon">
                                                <i class="ion ion-ios-person"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-xs-12">
                                        <!-- small box -->
                                        <div class="small-box bg-aqua">
                                            <div class="inner">
                                                <h3>283 <sup style="font-size: 20px">KM</sup></h3>

                                                <p>Kilometraje</p>
                                            </div>
                                            <div class="icon">
                                                <i class="ion ion-ios-speedometer"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-xs-12">
                                        <!-- small box -->
                                        <div class="small-box bg-yellow">
                                            <div class="inner">
                                                <h3>12 <sup style="font-size: 20px">DIAS</sup></h3>

                                                <p>Tiempo en Inventario</p>
                                            </div>
                                            <div class="icon">
                                                <i class="ion ion-ios-calendar"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-xs-12">
                                        <!-- small box -->
                                        <div class="small-box bg-green">
                                            <div class="inner">
                                                <h3>1.354 <sup style="font-size: 20px">USD</sup></h3>

                                                <p>Comision</p>
                                            </div>
                                            <div class="icon">
                                                <i class="ion ion-cash"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-xs-12">
                                        <!-- small box -->
                                        <div class="small-box bg-light-blue">
                                            <div class="inner">
                                                <h3> Excelente</h3>

                                                <p>Estado</p>
                                            </div>
                                            <div class="icon">
                                                <i class="ion ion-levels"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-xs-12">
                                        <!-- small box -->
                                        <div class="small-box bg-gray">
                                            <div class="inner">
                                                <h3>Azul</h3>

                                                <p>Color</p>
                                            </div>
                                            <div class="icon">
                                                <i class="ion ion-android-color-palette"></i>
                                            </div>
                                        </div>
                                    </div>



                                </div>

                            </div>


                        </div>

                    </div>

                </div>

            </div>




        </div>

        <div class="row">
            <div class="col-lg-12 col-xs-12 text-center">
                <div class="col-lg-3 col-xs-3 text-center">


                </div>
                <div class="col-lg-6 col-xs-6">

                </div>
                <div class="col-lg-3 col-xs-3 text-center">


                </div>

            </div>

        </div>

        <div class="row">
            <div class="col-lg-12 col-xs-12 text-center">
                <div class="col-lg-2 col-xs-2 text-center">


                </div>
                <div class="col-lg-8 col-xs-8">

                    <div class="row col-lg-6 col-xs-6">

                        <div class="small-box bg-green">

                            <div class="inner">
                                <h3 id="MontoMinimo">10.626<sup style="font-size: 20px">USD</sup></h3>
                                <p>Valor Minimo</p>
                            </div>

                        </div>
                    </div>

                    <div class="row col-lg-6 col-xs-6">
                        <div class="small-box bg-red">
                            <div class="inner">
                                <h3 id="MontoMaximo">18.654<sup style="font-size: 20px">USD</sup></h3>
                                <p>Valor Maximo</p>
                            </div>

                        </div>
                    </div>



                </div>

                <div class="col-lg-2 col-xs-2 text-center">

                </div>

            </div>

        </div>


    </div>

</div>
    



</section>

<script src="~/Content/Template/plugins/MiniJava.js"></script>
<script>
    jQuery(window).load(function () {

        $('#estadisticas_carro').slimScroll({
            height: '250px'
        });

        

    });

</script>



