
@{
    ViewBag.Title = "Prueba2";
}
    <!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        SECCION
        <small>SUB</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Tables</a></li>
        <li class="active">Simple</li>
    </ol>
</section>

    <!-- Main content -->
<section class="content">
    <div class="row">

        <div class="col-lg-12 col-xs-12">
            <div class="box box-widget ">
                <div class="box-header with-border">
                    <h3 class="box-title">VEHICULOS EN INVENTARIO - CATEGORIA SEDAN</h3>
                </div>
                <div class="box-body">
                    <div id="vehiculos_div" class="row">
                        <div class="col-lg-4 col-xs-4">
                            <!-- Widget: user widget style 1 -->
                            <div class="box box-widget widget-user">
                                <!-- Add the bg color to the header using any of the bg-* classes -->
                                <div class="widget-user-header bg-aqua-active">
                                    <h3 class="widget-user-username">C-Class C63 AMG Sedan 4d - Cod. 32</h3>
                                    <h5 class="widget-user-desc">Mercedes-benz - 2014</h5>
                                </div>
                                <div class="widget-user-image">
                                    <img class="img-circle" src="/Images/Modelos/1Series/2012/1Series_128i_Coupe_2d.png" alt="C-Class_32">
                                </div>
                                <div class="box-footer">
                                    <div class="row">
                                        <div class="col-sm-4 border-right">
                                            <div class="description-block">
                                                <h5 class="description-header">32.365 <sup style="font-size: 8px">USD</sup> </h5>
                                                <span class="description-text"><i class="fa fa-money"></i> </span>
                                            </div>
                                            <!-- /.description-block -->
                                        </div>
                                        <!-- /.col -->
                                        <div class="col-sm-4 border-right">
                                            <div class="description-block">
                                                <h5 class="description-header">1.235 <sup style='font-size: 8px'>KM</sup></h5>
                                                <span class="description-text"><i class="fa fa-tachometer"></i></span>
                                            </div>
                                            <!-- /.description-block -->
                                        </div>
                                        <!-- /.col -->
                                        <div class="col-sm-4">
                                            <div class="description-block">
                                                <h5 class="description-header">5 <sup style='font-size: 8px'>DIAS</sup></h5>
                                                <span class="description-text"><i class="fa fa-calendar"></i></span>
                                            </div>
                                            <!-- /.description-block -->
                                        </div>
                                        <!-- /.col -->
                                    </div>
                                    <!-- /.row -->
                                    <!-- /.row -->
                                </div>
                            </div>
                            <!-- /.widget-user --> 

                        </div>
                        <div class="col-lg-4 col-xs-4">
                            <!-- Widget: user widget style 1 -->
                            <div class="box box-widget widget-user">
                                <!-- Add the bg color to the header using any of the bg-* classes -->
                                <div class="widget-user-header bg-aqua-active">
                                    <h3 class="widget-user-username">Camry LE Sedan 4d - Cod. 49</h3>
                                    <h5 class="widget-user-desc">Toyota - 2017</h5>
                                </div>
                                <div class="widget-user-image">
                                    <img class="img-circle" src="/Images/Modelos/Camry/2017/Camry_LE_Sedan_4d.png" alt="Mustang_32">
                                </div>
                                <div class="box-footer">
                                    <div class="row">
                                        <div class="col-sm-4 border-right">
                                            <div class="description-block">
                                                <h5 class="description-header">12.365 <sup style="font-size: 8px">USD</sup> </h5>
                                                <span class="description-text"><i class="fa fa-money"></i> </span>
                                            </div>
                                            <!-- /.description-block -->
                                        </div>
                                        <!-- /.col -->
                                        <div class="col-sm-4 border-right">
                                            <div class="description-block">
                                                <h5 class="description-header">2.353 <sup style='font-size: 8px'>KM</sup></h5>
                                                <span class="description-text"><i class="fa fa-tachometer"></i></span>
                                            </div>
                                            <!-- /.description-block -->
                                        </div>
                                        <!-- /.col -->
                                        <div class="col-sm-4">
                                            <div class="description-block">
                                                <h5 class="description-header">12 <sup style='font-size: 8px'>DIAS</sup></h5>
                                                <span class="description-text"><i class="fa fa-calendar"></i></span>
                                            </div>
                                            <!-- /.description-block -->
                                        </div>
                                        <!-- /.col -->
                                    </div>
                                    <!-- /.row -->
                                    <!-- /.row -->
                                </div>
                            </div>
                            <!-- /.widget-user -->

                        </div>
                        <div class="col-lg-4 col-xs-4">
                            <!-- Widget: user widget style 1 -->
                            <div class="box box-widget widget-user">
                                <!-- Add the bg color to the header using any of the bg-* classes -->
                                <div class="widget-user-header bg-aqua-active">
                                    <h3 class="widget-user-username">Optima LX Sedan 4d - Cod. 58</h3>
                                    <h5 class="widget-user-desc">KIA - 2015</h5>
                                </div>
                                <div class="widget-user-image">
                                    <img class="img-circle" src="/Images/Modelos/Optima/2015/Optima_LX_Sedan_4d.png" alt="Mustang_32">
                                </div>
                                <div class="box-footer">
                                    <div class="row">
                                        <div class="col-sm-4 border-right">
                                            <div class="description-block">
                                                <h5 class="description-header">9.365 <sup style="font-size: 8px">USD</sup> </h5>
                                                <span class="description-text"><i class="fa fa-money"></i> </span>
                                            </div>
                                            <!-- /.description-block -->
                                        </div>
                                        <!-- /.col -->
                                        <div class="col-sm-4 border-right">
                                            <div class="description-block">
                                                <h5 class="description-header">2.565 <sup style='font-size: 8px'>KM</sup></h5>
                                                <span class="description-text"><i class="fa fa-tachometer"></i></span>
                                            </div>
                                            <!-- /.description-block -->
                                        </div>
                                        <!-- /.col -->
                                        <div class="col-sm-4">
                                            <div class="description-block">
                                                <h5 class="description-header">10 <sup style='font-size: 8px'>DIAS</sup></h5>
                                                <span class="description-text"><i class="fa fa-calendar"></i></span>
                                            </div>
                                            <!-- /.description-block -->
                                        </div>
                                        <!-- /.col -->
                                    </div>
                                    <!-- /.row -->
                                    <!-- /.row -->
                                </div>
                            </div>
                            <!-- /.widget-user -->

                        </div>
                        <div class="col-lg-4 col-xs-4">
                            <!-- Widget: user widget style 1 -->
                            <div class="box box-widget widget-user">
                                <!-- Add the bg color to the header using any of the bg-* classes -->
                                <div class="widget-user-header bg-aqua-active">
                                    <h3 class="widget-user-username">A6 3.2 Sedan 4d - Cod. 42</h3>
                                    <h5 class="widget-user-desc">Audi - 2015</h5>
                                </div>
                                <div class="widget-user-image">
                                    <img class="img-circle" src="/Images/Modelos/A6/2011/A6_3.2_Sedan_4d.png" alt="Mustang_32">
                                </div>
                                <div class="box-footer">
                                    <div class="row">
                                        <div class="col-sm-4 border-right">
                                            <div class="description-block">
                                                <h5 class="description-header">10.365 <sup style="font-size: 8px">USD</sup> </h5>
                                                <span class="description-text"><i class="fa fa-money"></i> </span>
                                            </div>
                                            <!-- /.description-block -->
                                        </div>
                                        <!-- /.col -->
                                        <div class="col-sm-4 border-right">
                                            <div class="description-block">
                                                <h5 class="description-header">974 <sup style='font-size: 8px'>KM</sup></h5>
                                                <span class="description-text"><i class="fa fa-tachometer"></i></span>
                                            </div>
                                            <!-- /.description-block -->
                                        </div>
                                        <!-- /.col -->
                                        <div class="col-sm-4">
                                            <div class="description-block">
                                                <h5 class="description-header">21 <sup style='font-size: 8px'>DIAS</sup></h5>
                                                <span class="description-text"><i class="fa fa-calendar"></i></span>
                                            </div>
                                            <!-- /.description-block -->
                                        </div>
                                        <!-- /.col -->
                                    </div>
                                    <!-- /.row -->
                                    <!-- /.row -->
                                </div>
                            </div>
                            <!-- /.widget-user -->

                        </div>

                    </div>




                </div>

            </div>
        </div>


        
    </div>  
</section>
<!-- /.content -->

<script src="~/Content/Template/plugins/MiniJava.js"></script>
<script>
    jQuery(window).load(function () {

        $('#vehiculos_div').slimScroll({
            height: '470px'
        });


    });


</script>
