
@{
    ViewBag.Title = "Historial de Comisión";
}

    <!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Estadisticas
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">UI</a></li>
        <li class="active">General</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">

    <div class="row">
        <div class="col-md-12">
            <!-- Custom Tabs -->
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab_1" data-toggle="tab">Inventario</a></li>
                    <li><a href="#tab_2" data-toggle="tab">Ganancia neta</a></li>
                    <li><a id="tab_3_3" href="#tab_3" data-toggle="tab">Empleados</a></li>

                </ul>
                <div class="tab-content" >
                    <div class="tab-pane active" id="tab_1">
                        <!-- DENTRO DEL PRIMER TAB INVENTARIO -->

                        <div class="row">
                            <div class="col-md-4">
                                <div class="box-body">
                                    <div class="callout callout-info">
                                        <h4>Total de carros en inventario</h4>

                                        <h4>283</h4>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-4">
                                <div class="box">
                                    <div class="box-header">
                                        <h3 class="box-title">Marca que mas se tiene en inventario</h3>
                                    </div>
                                    <!-- /.box-header -->
                                    <div class="box-body no-padding">
                                        <table class="table table-striped">
                                            <tr>

                                                <th>Marca</th>
                                                <th>Cantidad</th>
                                            </tr>
                                            <tr>
                                                <td>Ford</td>
                                                <td>28</td>
                                            </tr>
                                            <tr>
                                                <td>Bmw</td>
                                                <td>25</td>
                                            </tr>
                                            <tr>
                                                <td>Nissan</td>
                                                <td>23</td>
                                            </tr>
                                            <tr>
                                                <td>Toyota</td>
                                                <td>23</td>
                                            </tr>
                                            <tr>
                                                <td>Honda</td>
                                                <td>22</td>
                                            </tr>
                                            <tr>
                                                <td>Chevrolet</td>
                                                <td>18</td>
                                            </tr>
                                            <tr>
                                                <td>Mercedes-Benz</td>
                                                <td>16</td>
                                            </tr>
                                            <tr>
                                                <td>Audi</td>
                                                <td>14</td>
                                            </tr>
                                            <tr>
                                                <td>Volkswagen</td>
                                                <td>13</td>
                                            </tr>
                                            <tr>
                                                <td>Dodge</td>
                                                <td>10</td>
                                            </tr>
                                        </table>
                                    </div>
                                    <!-- /.box-body -->
                                </div>
                                <!-- /.box -->
                                <!-- /.box -->
                            </div>

                            <div class="col-md-4">
                                <div class="box">
                                    <div class="box-header">
                                        <h3 class="box-title">Modelo que mas se tiene en inventario</h3>
                                    </div>
                                    <!-- /.box-header -->
                                    <div class="box-body no-padding">
                                        <table class="table table-striped">
                                            <tr>

                                                <th>Modelo</th>
                                                <th>Cantidad</th>
                                            </tr>
                                            <tr>
                                                <td>3 Series</td>
                                                <td>8</td>
                                            </tr>
                                            <tr>
                                                <td>Altima</td>
                                                <td>7</td>

                                            </tr>
                                            <tr>
                                                <td>Civic</td>
                                                <td>6</td>

                                            </tr>
                                            <tr>
                                                <td>Accord</td>
                                                <td>6</td>

                                            </tr>
                                            <tr>
                                                <td>Range Rover</td>
                                                <td>6</td>

                                            </tr>
                                            <tr>
                                                <td>E-Class</td>
                                                <td>6</td>

                                            </tr>
                                            <tr>
                                                <td>Q5</td>
                                                <td>5</td>

                                            </tr>
                                            <tr>
                                                <td>Sonata</td>
                                                <td>5</td>

                                            </tr>
                                            <tr>
                                                <td>C-Class</td>
                                                <td>5</td>

                                            </tr>
                                            <tr>
                                                <td>Mustang</td>
                                                <td>5</td>

                                            </tr>
                                        </table>
                                    </div>
                                    <!-- /.box-body -->
                                </div>
                                <!-- /.box -->
                                <!-- /.box -->
                            </div>


                            <!-- /.col -->
                            <div class="col-md-4">
                                <div class="box">
                                    <div class="box-header">
                                        <h3 class="box-title">Filtro por costo</h3>
                                    </div>
                                    <!-- /.box-header -->
                                    <div class="box-body no-padding">
                                        <table class="table table-striped">
                                            <tr>

                                                <th>Costo</th>
                                                <th>Cantidad</th>
                                            </tr>
                                            <tr>
                                                <td> 10.000$ </td>
                                                <td>149</td>
                                            </tr>
                                            <tr>
                                                <td>10.000$---20.000$</td>
                                                <td>84</td>

                                            </tr>
                                            <tr>
                                                <td>$20.000---30.000$</td>
                                                <td>50</td>

                                            </tr>
                                            <tr>
                                                <td>30.000$---></td>
                                                <td>0</td>

                                            </tr>

                                        </table>
                                    </div>
                                    <!-- /.box-body -->
                                </div>
                                <!-- /.box -->



                                <div class="box">
                                    <div class="box-header">
                                        <h3 class="box-title">Filtro por cantidad de tiempo en inventario</h3>
                                    </div>
                                    <!-- /.box-header -->
                                    <div class="box-body no-padding">
                                        <table class="table table-striped">
                                            <tr>

                                                <th>Dias</th>
                                                <th>Cantidad</th>
                                            </tr>
                                            <tr>
                                                <td>0-30</td>
                                                <td>119</td>
                                            </tr>
                                            <tr>
                                                <td>30-60</td>
                                                <td>29</td>

                                            </tr>
                                            <tr>
                                                <td>60-90</td>
                                                <td>32</td>

                                            </tr>
                                            <tr>
                                                <td>90-120</td>
                                                <td>13</td>

                                            </tr>
                                            <tr>
                                                <td>120+</td>
                                                <td>91</td>

                                            </tr>
                                        </table>
                                    </div>
                                    <!-- /.box-body -->
                                </div>


                                <!-- /.box -->
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->
                        <!-- TERMINA PRIMER TAB INVENTARIO -->

                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane" id="tab_2">

                        <!-- Main content -->
                        <div class="col-md-3">
                            <!-- Bar chart -->
                            <div class="box box-primary">
                                <div class="box-header with-border">
                                    <i class="fa fa-bar-chart-o"></i>

                                    <h3 class="box-title">Ventas por día</h3>

                                    <div class="box-tools pull-right">
                                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                            <i class="fa fa-minus"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="box-body">
                                    <div class="box">
                                        <div class="box-header">
                                        </div>
                                        <!-- /.box-header -->
                                        <div class="box-body no-padding">
                                            <table class="table table-striped">
                                                <tr>
                                                    <th>Ventas por dia</th>
                                                    <th>Mayo</th>
                                                    <th>%</th>
                                                </tr>
                                                <tr>
                                                    <td>Menos de 5 unidades</td>
                                                    <td>24</td>
                                                    <td>77.42%</td>
                                                </tr>
                                                <tr>
                                                    <td>Entre 5 y 7 unidades</td>
                                                    <td>4</td>
                                                    <td>12.90%</td>
                                                </tr>
                                                <tr>
                                                    <td>Más de 7 unidades</td>
                                                    <td>3</td>
                                                    <td>9.68%</td>
                                                </tr>
                                            </table>
                                        </div>
                                        <!-- /.box-body -->
                                    </div>

                                    <div id="bar-chart" style="height: 300px; width:100%;"></div>
                                </div>
                                <!-- /.box-body-->
                            </div>
                            <!-- /.box -->
                        </div>



                        <!-- PONER CUADRO A LA DERECHA -->
                        <div class="col-md-3">
                            <!-- Bar chart -->
                            <div class="box box-primary">
                                <div class="box-header with-border">
                                    <i class="fa fa-bar-chart-o"></i>

                                    <h3 class="box-title">Ganancia neta por venta</h3>

                                    <div class="box-tools pull-right">
                                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                            <i class="fa fa-minus"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="box-body">
                                    <div class="box">
                                        <div class="box-header">
                                        </div>
                                        <!-- /.box-header -->
                                        <div class="box-body no-padding">
                                            <table class="table table-striped">
                                                <tr>
                                                    <th>Ganancia neta</th>
                                                    <th>Mayo</th>
                                                    <th>%</th>
                                                </tr>
                                                <tr>
                                                    <td>Menos de 2500$</td>
                                                    <td>63</td>
                                                    <td>62.38%</td>
                                                </tr>
                                                <tr>
                                                    <td>Entre 2500$ y 3500$</td>
                                                    <td>23</td>
                                                    <td>22.77%</td>
                                                </tr>
                                                <tr>
                                                    <td>Más de 3500$</td>
                                                    <td>15</td>
                                                    <td>14.85%</td>
                                                </tr>
                                            </table>
                                        </div>
                                        <!-- /.box-body -->
                                    </div>
                                    <div id="bar-chart2" style="height: 300px; width:100%;"></div>
                                </div>
                                <!-- /.box-body-->
                            </div>
                            <!-- /.box -->
                        </div>


                        <!-- PONER CUADRO A LA DERECHA -->
                        <div class="col-md-3">
                            <!-- Bar chart -->
                            <div class="box box-primary">
                                <div class="box-header with-border">
                                    <i class="fa fa-bar-chart-o"></i>

                                    <h3 class="box-title">Ganancia neta por dia</h3>

                                    <div class="box-tools pull-right">
                                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                            <i class="fa fa-minus"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="box-body">
                                    <div class="box">
                                        <div class="box-header">
                                        </div>
                                        <!-- /.box-header -->
                                        <div class="box-body no-padding">
                                            <table class="table table-striped">
                                                <tr>
                                                    <th>Ganancia neta</th>
                                                    <th>Mayo</th>
                                                    <th>%</th>
                                                </tr>
                                                <tr>
                                                    <td>Menos de 14000$</td>
                                                    <td>28</td>
                                                    <td>90.32%</td>
                                                </tr>
                                                <tr>
                                                    <td>Entre 1400$ y 1600$</td>
                                                    <td>0</td>
                                                    <td>0%</td>
                                                </tr>
                                                <tr>
                                                    <td>Más de 1600$</td>
                                                    <td>3</td>
                                                    <td>9.68%</td>
                                                </tr>
                                            </table>
                                        </div>
                                        <!-- /.box-body -->
                                    </div>
                                    <div id="bar-chart3" style="height: 300px; width:100%;"></div>
                                </div>
                                <!-- /.box-body-->
                            </div>
                            <!-- /.box -->
                        </div>

                        <div class="col-md-3">
                            <!-- Bar chart -->
                            <div class="box box-primary">
                                <!-- /.box-header -->
                                <div class="box-body no-padding">
                                    <table class="table table-striped">
                                        <tr>
                                            <td>Cantidad de ventas</td>
                                            <td>101</td>
                                        </tr>
                                        <tr>
                                            <td>Ganancia acumulada neta</td>
                                            <td>$222,478.85</td>
                                        </tr>
                                        <tr>
                                            <td>Ganancia promedio</td>
                                            <td>$2,202.76</td>
                                        </tr>
                                    </table>
                                </div>
                                <!-- /.box-body -->
                            </div>

                            <div class="box box-primary">
                                <!-- /.box-header -->
                                <div class="box-body no-padding">
                                    <table class="table table-striped">
                                        <tr>
                                            <th>Cantidad</th>
                                            <th>Tipo</th>
                                            <th>Ganancia neta</th>
                                        </tr>
                                        <tr>
                                            <td>101</td>
                                            <td>Retail</td>
                                            <td>$222,478.85</td>
                                        </tr>
                                        <tr>
                                            <td>29</td>
                                            <td>Wholesale</td>
                                            <td>-$125,840.49</td>
                                        </tr>
                                        <tr>
                                            <td>130</td>
                                            <td>Neto</td>
                                            <td>$96,638.36</td>
                                        </tr>
                                    </table>
                                </div>
                                <!-- /.box-body -->
                            </div>



                            <!-- /.box -->
                        </div>




                        <!-- /.col -->
                    </div>



                    <!-- /.tab-pane -->
                    <div class="tab-pane" id="tab_3">
                        
                    </div>
                </div>
                <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
        </div>
        <!-- nav-tabs-custom -->
    </div>
    <!-- /.col -->
    <!-- /.row -->
</section>
<!-- /.content -->

<script src="~/Content/Template/plugins/jQuery/jquery-2.2.3.min.js"></script>

<script>
    jQuery(window).load(function () {
        /*
         * BAR CHART
         * ---------
         */
        
        var bar_data = {
            data: [["Menos de 5 unidades", 24], ["Entre 5 y 7 unidades", 4], ["Más de 7 unidades", 3]],
            color: "#3c8dbc"
        };
        var plot_1 = $.plot("#bar-chart", [bar_data], {
            grid: {
                borderWidth: 1,
                borderColor: "#f3f3f3",
                tickColor: "#f3f3f3"
            },
            series: {
                bars: {
                    show: true,
                    barWidth: 0.5,
                    align: "center"
                }
            },
            xaxis: {
                mode: "categories",
                tickLength: 0
            }
        });
        /* END BAR CHART */


        var bar_data = {
            data: [["Menos de <br>2500$", 63], ["Entre 2500$ <br>y 3500$", 23], ["Más <br>de 3500$", 15]],
            color: "#3c8dbc"
        };
        var plot_2 = $.plot("#bar-chart2", [bar_data], {
            grid: {
                borderWidth: 1,
                borderColor: "#f3f3f3",
                tickColor: "#f3f3f3"
            },
            series: {
                bars: {
                    show: true,
                    barWidth: 0.5,
                    align: "center"
                }
            },
            xaxis: {
                mode: "categories",
                tickLength: 0
            }
        });
        /* END BAR CHART */

    var bar_data = {
        data: [["Menos de 14000$", 28], ["Entre <br>14000$ y <br>16000$", 0], ["Más de <br>16000$", 3]],
        color: "#3c8dbc"
    };
    var plot_3 = $.plot("#bar-chart3", [bar_data], {
        grid: {
            borderWidth: 1,
            borderColor: "#f3f3f3",
            tickColor: "#f3f3f3"
        },
        series: {
            bars: {
                show: true,
                barWidth: 0.5,
                align: "center"
            }
        },
        xaxis: {
            mode: "categories",
            tickLength: 0
        }
    });
    /* END BAR CHART */

    $(document).on('shown.bs.tab', 'a[data-toggle="tab"]', function (e) {
        plot_1.draw();
        plot_2.draw();
        plot_3.draw();
    });








    });
        
    /* END BAR CHART */

    /*
     * Custom Label formatter
     * ----------------------
     */
    function labelFormatter(label, series) {
        return '<div style="font-size:13px; text-align:center; padding:2px; color: #fff; font-weight: 600;">'
            + label
            + "<br>"
            + Math.round(series.percent) + "%</div>";
    }
</script>
